.plural {
    display: flex;
    justify-content: center;
    color: black; 
    background: white; 
    @mixin atMedium {
        padding-top: 30px;
    }
    &-inner {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        flex-direction: column;
        animation: moveIn 1s ease-out;
    }
    &-noun {
        margin-right: 20px;
    }
    &-header {
        display: flex;
        color: black;
        font-size: 1.1em;
        margin-bottom: 20px;
    }
    &-input {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 100%;
        /* margin-top: 20px; */
        font-size: 1.2em;
    }
}
.plural-display {
    display: flex;
    flex-direction: column;
}

.hint-plural {
    margin-top: 20px;
}