.sentence-block-mixed-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    background: white;
    width: 100%;
}
.sentence-block-mixed {
    display: flex;
    /* flex-wrap: wrap; */
    /* border: 1px solid black; */
    color: black;  
    padding: 15px;
    &-hide {
        display: none;
    }
}
.less-padding {
    /* padding: 0; */
    padding-left: 0;
    padding-right: 5px;
}
.sentence-block-translation {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background: white;
    border-bottom: 1px solid #bfbfbf;
    width: 100%;
}
.sentence-block-correct {
    background: #94ef94 !important;
}
.sentence-block-incorrect {
    background: #fc2551 !important;
}